.result-box {

    $breakpoint-alpha: 480px; // adjust to your needs

    .rwd-table {
        width: 100%;
        min-width: 300px; // adjust to your needs

        tr {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        th {
            display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
        }

        td {
            display: block;

            &:first-child {
                padding-top: .5em;
            }
            &:last-child {
                padding-bottom: .5em;
            }

            &:before {
                // optional stuff to make it look nicer
                width: 6.5em; // magic number :( adjust according to your own content
                display: inline-block;
                // end options

                @media (min-width: $breakpoint-alpha) {
                    display: none;
                }
            }
        }

        th, td {
            text-align: left;

            @media (min-width: $breakpoint-alpha) {
                display: table-cell;
                padding: .25em .5em;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

        }
    }

    body {
        padding: 0 2em;
        color: #444;
        background: #eee;
    }

    h1 {
        letter-spacing: -1px;
        color: $fontColor;
    }

    .rwd-table {
        background: $color1;
        color: $fontColor2;
        //border-radius: .4em;
        overflow: hidden;
        tr {
            border: none;
        }
        th, td {
            margin: .5em 1em;
            @media (min-width: $breakpoint-alpha) {
                padding: 1em !important;
            }
        }
        th, td:before {
            color: $fontColor;
        }

        thead {
            border-bottom: 1px solid #fff;
        }
    }

    .result-remove-icon {
        cursor: pointer;

        &:hover {
            color: lighten($fontColor2, 10%);
        }
    }
}
