.search-field-container {
    width: 100%;
    background-color: $color1;
}

.search-box {
    width: 500px;
    margin: 50px auto 50px;

    input {
        width: 392px;
        font-size: 18px;
        padding: 0 20px;
        border: none;
        height: 50px;

        &:focus {
            outline-width: 0;
        }
    }

    button {
        background: #fff;
        font-size: 18px;
        border: none;
        height: 50px;

        &:focus {
            outline-width: 0;
        }
    }
}
